@media only screen and (max-width: 540px) {
    .descript_container {
        flex-direction: column;
        margin-left: 1.2rem;
        width: 100%;
    }
}

@media only screen and (min-width: 540px) {
    .descript_container {
        flex-direction: column;
        margin-left: 1.2rem;
        width: 340px;
    }
}

.foodCard_container_component {
    /* width: 520px; */
    max-width: 560px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.button_amount_foodCard {
    border-radius: 25px;
    background: #aaaba9;
    width: 25px;
    height: 25px;
    border-color: transparent;
    color: white;
    padding: 0px;
    margin: 0 0.5rem;
    font-size: small;

}

.counter_foodCard {
    /* margin: '0px 8px'; */
    border: solid #aaaba9 1px;
    min-width: 20px;
    text-align: center;
}

.button_addToCard {
    background-color: #2FBF57;
    border-radius: 5px;
    border-color: transparent;
    padding: 5px 15px;
    color: white;
}

.button_addToCard:hover {
    background-color: #2fb956;
    border-radius: 5px;
    border-color: transparent;
    padding: 5px 15px;
    color: white;
}

.button_removeFromCard {
    background-color: #ff0c0c;
    border-radius: 5px;
    border-color: transparent;
    padding: 5px 15px;
    color: white;
}

.button_removeFromCard:hover {
    background-color: #e70c0c;
    border-radius: 5px;
    border-color: transparent;
    padding: 5px 15px;
    color: white;
}

.food-img {
    width: 100%;
    max-width: 200px;
}